// Variables
@green: rgba(29, 209, 161, 1);
@yellow: rgba(254, 202, 87, 1);
@red: rgba(255, 107, 107, 1);



// Usage

.column {
  display: grid;
  min-height: 300px;
  position: relative;

  h3 {
    justify-self: center;
  }

  &-title {
    font-family: 'AlegreyaSansSC';
    font-weight: 500;
    font-style: normal;
  }

  &-get {
    background-color: @green;
    grid-template-rows: 55px 1fr;
    grid-area: getCol;
  }

  &-add {
    background-color: @yellow;
    grid-area: addCol;
  }

  .video-counter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;
    top: 10px;
    right: 10px;
    background-color: darkgrey;
    border-radius: 50%;
  }

}

.get-column-content {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

.invalid-input {
  outline-color: lighten(@red, 10%);
  outline-style: solid;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {
  .get-column-content {
    padding-left: 0px;
    padding-right: 0px;
  }
}
