.margin-top25 {
    margin-top: 25px;
}

.margin-bottom25 {
    margin-bottom: 25px;
}

.first-letter-cap::first-letter {
    text-transform: capitalize;
}

.white-bg {
    background: white;
}

body {
    scroll-behavior: smooth;
}

.no-scroll {
  overflow-y: hidden;
}
