.columns-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 6fr 4fr;
  margin-top: 55px;
  grid-gap: 10px;
  align-items: flex-start;
}

.column-wrapper-managment {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: row;
}
